.admin {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.left {
    justify-content: flex-start;
}

.btn {
    color: white;
    padding: var(--gap);
    border: 2px solid var(--primary-color);
    width: fit-content;
    border-radius: var(--gap);
    background-color: var(--terciary-color);
}

.btn:active {
    color: white;
    background-color: var(--secondary-color);
}