.cart {
    padding: var(--gap);
    justify-content: space-between;
    flex-grow: 1;
}

.cart-item-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    flex-grow: 1;
}

.cart-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    padding: var(--gap);
    height: 100px;
    gap: var(--gap);
    border-radius: var(--gap);
}
 
.image-container.cart-image-container {
    height: 100%;
    width: 100px;
    background-color: var(--complementary-color);
    border-radius: var(--gap);
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: var(--gap)
}

.cart-details {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.horizontal  {
    display: flex;
    gap: var(--gap);
    justify-content: space-between;
}

.checkout-pricing {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    min-width: 50%;
    margin-top: 30px;

}

.total {
    border-top: 1px solid black;
    padding-top: var(--gap);
}

.checkout {
    border-radius: 100px;
    margin-top: 30px;
    width: 90%;
    padding: calc(var(--gap) * 2);
    background-color: var(--complementary-color);
}

.checkout:active {
    background-color: var(--terciary-color);
}

@media screen and (min-width:600px) {
    .cart {
        width: 80%;
        align-self: center;
    }
    .cart-item {
        height: 200px;
    }
    .image-container.cart-image-container {
        width: 200px;
    }
}