form {
    background-color: var(--complementary-color);
    padding: var(--gap);
    width: 80%;
    border: 1px solid var(--primary-color);
    border-radius: var(--gap);
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    background-color: inherit;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

#category-list {
    display: grid;
    gap: var(--gap);
    grid-template-columns: 1fr 1fr;
    padding: var(--gap)
}

.submit {
    align-self: flex-end;
}