.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    padding: var(--gap);
    gap: var(--gap);
    padding-bottom: 0;
    font-family: "Rubik", sans-serif;
}

.image-container {
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    height: 100%;
    width: auto;
    max-width: 300px;
}

.item-details {
    border-radius: calc(var(--gap)*4) calc(var(--gap)*4) 0 0;
    flex-grow: 1;
    width: 100%;
    background-color: var(--complementary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: var(--gap);
    gap: var(--gap);
}

.center {
    align-self: center;
}

.purchase {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: var(--gap);
    border: 1px solid var(--primary-color);
    padding: calc(var(--gap) * 2) calc(var(--gap) * 2);
    border-radius: 100px;
    width: 80%;
    background-color: var(--terciary-color);
    font-size: large;
}

.quantity {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--secondary-color);
    border-radius: 100px;
    min-width: 60px;
}

button {
    border: none;
    background-color: inherit;
    font-size: inherit;
    font-family: inherit;
}

.addToCart:active {
    background-color: var(--primary-color);
    color: white;
    border-radius: 100px;
}

.top {
    position: relative;
}

.back {
    position: absolute;
    align-self: flex-start;
    top: 0;
    left: 0;
    height: fit-content;
    border-radius: 50%;
    padding: 0;
}
@media screen and (min-width: 600px) {
    .item {
        font-size: 1.5rem+1vw;
        align-self: center;
    }
    .item-details {
        width: 70%
    }
}