nav {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--secondary-color);
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: large;
}

.nav-links {
    height: 100%;
    display: flex;
    align-items: center;
}

a {
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    padding: var(--gap)
}

li {
    list-style: none;
}

nav .logo {
    font-size: calc(3rem);
}

.active {
    background-color: var(--terciary-color);
    height: 100%;
}