.shop {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    overflow: hidden;
    font-family: "Rubik", sans-serif;
}

.shop h1 {
    font-size: x-large;
}

.shop-section {
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.shop-section h2 {
    padding-left: var(--gap);
    font-size: large;
}

.item-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: 1;
    gap: var(--gap);
    padding: var(--gap);
    overflow-x: auto;
}

.item-container::-webkit-scrollbar {
    display: none;
}

.shop-item {
    font-size: small;
    text-align: center;
    border-radius: 15px;
    height: 200px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
    padding: var(--gap);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;}

.shop-item-img {
    height: 70%;
    width: 100%;
    border-radius: 5px;
    padding: var(--gap);
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop-item-img img {
    height: 100%;
    max-width: 100%;
    width: auto;
}

.shop-item-price {
    display: flex;
    gap: var(--gap);
}

.price-amount::before {
    content: "$ ";
}

.shop-link {
    color: black;
    text-decoration: none;
}

@media screen and (min-width: 600px) {
    .item-container {
        flex-wrap: wrap;
    }

    .shop-item {
        height: 300px;
        width: 225px;
        font-size: 1.25rem;
    }
}