.shop {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    overflow: hidden;
    font-family: "Rubik", sans-serif;
}

.shop h1 {
    font-size: x-large;
}

.shop-section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.shop-section h2 {
    padding-left: var(--gap);
    font-size: large;
}

.item-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap);
    overflow-x: auto;
    padding: var(--gap);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  
}

.item-container::-webkit-scrollbar {
    display: none;
}

.shop-item {
    font-size: small;
    text-align: center;
    border-radius: 15px;
    height: 200px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    padding: var(--gap);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;}

.shop-item-img {
    height: 70%;
    width: 100%;
    border-radius: 5px;
    padding: var(--gap);
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop-item-img img {
    height: 100%;
    width: auto;
}

.shop-item-price {
    display: flex;
    gap: var(--gap);
}

.price-amount::before {
    content: "$ ";
}