.stock-container {
    padding: var(--gap);
    display: flex;
    flex-direction: column;
    gap:var(--gap);
    align-items: center;
}

.stock-list {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--terciary-color);
    padding: var(--gap);
    width: min(700px, 80%);
    border-radius: var(--gap);
}

.stock-list-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--gap);
    padding-top: var(--gap);
    align-items: center;
    padding-bottom: var(--gap);
}

.stock-list-item.single {
    display: flex;
    justify-content: space-between;
}

.edit {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    padding-right: var(--gap);
    color: black;
}

.stock-list-item:nth-of-type(even){
    background-color: var(--complementary-color);
}

.title {
    font-size: large;
    border-top: none;
}

.add-new-plant {
    margin-top: var(--gap);
}
@media screen and (min-width: 600px) {
    .edit {
        display: none;
    }
    .stock-list-item.single:hover .edit {
        display: flex;
    }
}