:root {
    --primary-color: #0e3a0e;
    --secondary-color: #1e5128;
    --terciary-color: #4e9f3d;
    --complementary-color: #d8e9a8;
    --gap: 6px;
}
@font-face {
    font-family: "Rubik";
    src: local('Rubik'), url(../fonts/Rubik-VariableFont_wght.ttf) format("truetype");
}
@font-face {
    font-family: "Rubik Italic";
    src: local('Rubik Italic'), url(../fonts/Rubik-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
    font-family: "Ole";
    src: local('Ole'), url(../fonts/Ole-Regular.ttf) format("truetype");
}

@media screen and (min-width: 600px) {
    :root {
        --gap: 12px;
    }
}